.that-sub-only-sub-page {
    max-width: 1500px;
    margin:auto;
    padding-top: 5.75rem;
}

.that-sub-only-sub-list-item ul {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.tagger-list-container {
    display: flex;
    overflow-x: auto; /* Allows horizontal scroll */
    scroll-behavior: smooth; /* Smooth scrolling */
    padding: 0.5rem 0;
    gap: 0.5rem;
    white-space: nowrap;
    scrollbar-width: none;
}

.tagger-list-container::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit browsers */
}

.checker-topics-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.unique-label-item {
}

.tagger-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.tagger-list p {
    font-size: x-small;
    font-style: italic;
    max-lines: 1;
    text-wrap: nowrap;
}

.tagger-list span {
    font-size: xx-small;
}

.tagger-list-container p {
    font-size: xx-small;
}

.that-sub-only-content-container {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 4rem;
    gap: 3rem;
}

.that-sub-only-sub-content {
    background-color: rgba(158, 158, 158, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.dark .that-sub-only-sub-content {
    background-color: rgba(129, 129, 129, 0.15);
    box-shadow: 0 4px 6px rgba(205, 204, 204, 0.817);
}

.that-sub-only-sub-heading {
    font-size: 2rem;
    margin-bottom: 10px;
}

.that-sub-only-sub-leading {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.that-sub-only-sub-date {
    font-size: 0.9rem;
}

.that-sub-only-sub-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.that-sub-only-sub-list-item {
    border: none;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease;
}

.that-sub-only-sub-list-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.dark .that-sub-only-sub-list-item:hover {
    box-shadow: 0 4px 8px rgba(228, 228, 228, 0.15);
}

.that-sub-only-sub-list-item-header {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.that-sub-only-sub-list-item-subheader {
    font-size: 1rem;
    margin-bottom: 8px;
}

.that-sub-only-sub-list-item-date {
    font-size: 0.8rem;
}

@media (max-width:930px) {
    .that-sub-only-sub-page {
        padding-top:0rem;
    }

    .that-sub-only-content-container {
        margin: 2.5rem 4.6rem;
        gap: 1.5rem;
    }
}

@media (max-width: 525px) {
    .that-sub-only-content-container {
        margin: 2.5rem 3.3rem;
    }
}