.profilepage {
    display: grid;
    grid-template-columns: 1.2fr 2.8fr;
    height: 100vh;
    gap: 3rem;
    padding: 8rem 4rem;
}

.dark .profile-left {
    box-shadow: 0px 1.5rem 54px 2px rgba(225, 223, 223, 0.9);
}

.profile-left {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 2rem;
    border-radius: 12px;
    background-color: #ffffff;
    height: 45vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensures contents are centered */
    justify-content: space-around;
}

.profile-actions {
    display: flex;                  /* Use Flexbox for layout */
    flex-direction: column;         /* Stack the buttons vertically */
    align-items: center; /* Centers buttons horizontally */
    width: 100%; /* Ensures buttons take full width */
    gap: 1rem;
    margin-top: 2rem;
}

.profile-action {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;             /* Font size for the text */
    margin: 20px 0;              /* Space between the buttons */
    border-radius: 6px;
    width: 80%;
    border: none;                /* No border */
    cursor: pointer;             /* Pointer cursor on hover */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.profile-action:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.profile-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.introduction-profile {
    margin-bottom: 1.5rem;
}

.introduction-profile h1 {
    font-style: italic;
    font-size: 2rem;
    color: #333;
    font-weight: bold;
}

.dark .introduction-profile h1 {
    color: rgba(219, 216, 216, 0.8);
}

.introduction-profile a {
    font-weight: 500;
    text-decoration: none;
    color: #1a73e8;
    transition: color 0.3s ease;
}

.dark .introduction-profile a {
    color: rgba(216, 214, 214, 0.8);
}

.right-upper {
    max-height: 30vh;
    border: none;
    overflow-wrap: break-word;
    background-color: #ffffff;
    border-radius: 10px;
    overflow:hidden;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.dark .right-lower {
    background-color: rgba(36, 33, 33, 0.911);
}

.dark .right-upper {
    background-color: rgba(24, 22, 22, 0.8);
}

.dark .profile-left {
    background-color: rgba(16, 2, 2, 0.709);
    box-shadow: 0px 4px 12px rgba(245, 243, 243, 0.259);
}

.dark .right-upper h2 {
    color: rgba(238, 238, 238, 0.832)
}

.dark .right-upper p {
    color: rgba(229, 229, 229, 0.943)
}

.right-upper h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.right-upper p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    overflow-y: auto; /* Enable vertical scroll */
    max-height: 100%; /* Adjust to container height */
    padding-right: 10px; /* Space for scrollbar */
    word-wrap: break-word;
}

.right-upper::-webkit-scrollbar {
    width: 8px;
}

.right-upper::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.right-lower {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    overflow-y: auto;
    /* background-color: rgba(0, 0, 0, 0.1); */
    height: 55vh;
    /* padding: 20px; */
    /* overflow-y: auto; */
    scrollbar-width: none;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.right-lower::-webkit-scrollbar {
    display: none;
}  

.right-lower ul {
    list-style-type: none;
}

.right-lower ul li {
    margin: 10px 0;
}

/* Specific style for Logout button */
.logout-btn {
    background-color: #4CAF50;   /* Green background */
    color: rgb(255, 255, 255);                /* White text */
}

.logout-btn:hover {
    background-color: #3b8e3f;   /* Darker green on hover */
}

/* Specific style for Delete button */
.delete-btn {
    background-color: #f44336;   /* Red background */
    color: rgb(255, 255, 255);                /* White text */
}

.delete-btn:hover {
    background-color: #d32f2f;   /* Darker red on hover */
}

.content-grid {
    display: grid;
    gap: 1.5rem;
}

@media (max-width: 530px) {
    .right-upper, .right-lower, .profile-left {
        width: 90vw;                      /* Set width of right-upper */
        box-shadow: none;
    }

    .right-upper p {
        -webkit-line-clamp: unset; /* Removes line clamping */
        max-height: 100%;
        font-size: 12px; /* Adjust font size for smaller screens */
    }

    .profilepage {
        display: flex;                    /* Change grid to flex for better alignment */
        flex-direction: column;           /* Stack the profile sections vertically */
        align-items: center;              /* Center items horizontally */
        padding-left: 0;
        padding-right: 0;
        padding-top: 1rem;
        gap: 1rem;
    }

    .profile-action {
        width: 90%;
    }

    .footer-container {
        margin-top: 5.2vh;
    }

    .profile-right {
        gap: 1rem;
    }

    .profile-left {
        height: 35vh;
        box-shadow: 0px 0px 0px 0px transparent;
    }

    .dark .profile-left {
        height: 35vh;
        text-align: center;
        box-shadow: 0px 0px 0px 0px transparent;
    }

    .right-lower {
        height: 40vh;
    }
}

@media (min-width: 531px) and (max-width: 881px) {
    .profilepage {
        display: flex;                    /* Change grid to flex for better alignment */
        flex-direction: column;           /* Stack the profile sections vertically */
        align-items: center;              /* Center items horizontally */
        padding-left: 0;
        padding-right: 0;
        padding-top: 1rem;
        gap: 1rem;
    }

    .right-lower{
        height: 30vh;
        margin-bottom: 18vh;
    }

    .right-upper, .right-lower, .profile-left {
        width: 90vw;                      /* Set width of right-upper */
        box-shadow: none;
    }
}

@media (min-width: 882px) and (max-width: 1100px) {
    .profilepage {
        display: flex;                    /* Change grid to flex for better alignment */
        flex-direction: column;           /* Stack the profile sections vertically */
        align-items: center;              /* Center items horizontally */
        padding-left: 0;
        padding-right: 0;
        padding-top: 1rem;
        gap: 1rem;
    }

    .content-grid {
        grid-template-columns: 1fr; /* 1 column */
    }

    .footer-container {
        margin-top: 6.8vh;
    }

    .right-upper, .right-lower, .profile-left {
        width: 90vw;                      /* Set width of right-upper */
        box-shadow: none;
    }

    .right-lower{
        height: 40vh;
        margin-bottom: 12vh;
    }
}

@media (min-width: 1111px) and (max-width: 1250px) {
    .content-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

@media (min-width: 1251px) {
    .content-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }
}

