.specific-chat-page {
    padding: 4.5rem 1rem;
}

.dep-hone {
    text-align: start;
    margin-left:1rem;
    margin-top:0.5rem;
}

.dep-p {
    margin-top: 0.15rem;
    margin-left: 1.35rem;
}

.connect-to {
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content-p {
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
}

.connect-from {
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
}

.entire-ho:hover,.entire-ho:active {
    box-shadow: 0 4px 6px rgba(0,0,0,1.0);
}

.previous-page-filter {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    width:max-content;
    border-radius: 2.75px;
    background-color: rgba(10, 10, 10, 0.186);
    list-style-type: none;
    margin-top:0.2rem;
    margin-bottom: 0.275rem;
    margin-left:1.3rem;
    padding-left: 5px;
    white-space: nowrap;
    scrollbar-width: none;
    overflow-x: auto; /* Allows horizontal scroll */
    scroll-behavior: smooth; /* Smooth scrolling */
}

/*input comment*/
.sticky-input-bar {
    position: sticky;
    padding: 15px;
    margin: 1rem 0rem;
    border-radius: 8px;
    box-shadow: 5px 8px 10px 6px rgba(182, 182, 182, 0.442);
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 6;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.big-text-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.forReplyId-section {
    display: flex;
    align-items: center;
    gap: 5px;
}

.reply-id-input {
    flex: 1;
    padding: 8px;
    font-size: 0.9rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.validity-check {
    font-size: 1.2rem;
    color: green;
}

.reply-dropdown {
    padding: 8px;
    font-size: 0.9rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

.submit-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.submit-btn:hover,.submit-btn:active {
    background-color: #0056b3;
}
/*input comment*/

@media (max-width:950px) {
    .specific-chat-page {
        padding: 0.25rem 0.5rem;
    }
}

@media (min-width:800px) {
    .sticky-input-bar {
        margin: 2.5rem 4.5rem 9rem 4.5rem;
    }
}

@media (max-width:799px) {
    .sticky-input-bar {
        margin: 2.25rem 3.25rem 6rem 3.25rem;
    }
}

@media (max-width:525px) {
    .sticky-input-bar {
        margin: 2.05rem 1.25rem 3rem 1.25rem;
    }
}

@media (min-width:928px) {
    .sticky-input-bar {
        margin: 2.5rem 7.5rem 16rem 7.5rem;
    }
}