.specific-chat-page {
    margin: 0.25rem 0.5rem;
}

.specific-chat-page h1 {
    text-align: start;
    margin-left:1rem;
    margin-top:1rem;
}

.dep-p {
    margin-top: 0.15rem;
    margin-left: 1.35rem;
}

.connect-to {
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content-p {
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
}

.connect-from {
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
}

.entire-ho:hover {
    box-shadow: 0 4px 6px rgba(0,0,0,1.0);
}