.subforums-summary-labler-page-container {
    padding: 6.5rem 4rem;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.subforums-summary-labler-left-down {
    width: 55vw;
}

.subforums-summary-labler-right-up {
    width: 45vw;
    background-color: rgba(200, 200, 200, 0.098);
    height: 45vh;
    margin: 2rem 0rem;
}

.dark .subforums-summary-labler-right-up {
    background-color: rgba(47, 46, 46, 0.098);
}

.subforums-summary-labler-header {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.subforums-summary-labler-list {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.subforums-summary-labler-item {
    list-style-type: none;
    border: none;
    border-radius: 2rem;
    height: 15vh;
    gap: 1rem;
    padding: 1.5rem 1.75rem;
    background-color: rgba(214, 214, 213, 0.935);
}

.dark .subforums-summary-labler-item {
    background-color: rgba(28, 28, 27, 0.63);
}

.dark .subforums-summary-labler-item-title {
    text-shadow: 1px 3px 5px rgba(233, 230, 230, 0.55);
}

.subforums-summary-labler-item-title {
    text-shadow: 1px 3px 5px rgba(63, 62, 62, 0.55);
}

.subforums-summary-labler-item-leading {
    font-style:oblique;
    font-weight: 500;
}

.subforums-summary-labler-item-date {
    font-weight: 300;
}

.subforums-summary-labler-pagination-controls-chunk {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.subforums-summary-labler-pagination-controls-chunk-btn {
    margin: 0 0.5rem;
    padding: 0.4rem 0.8rem;
    border: none;
    color:rgb(101, 101, 101);
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgba(63,62,62,0.15);
    font-weight: bold;
}

.subforums-summary-labler-pagination-controls-chunk-btn:hover {
    background-color: rgba(63,62,62,0.3);
}

.subforums-summary-labler-pagination-controls-chunk-btn.active {
    background-color: rgba(63, 62, 62, 0.6);
    color: white;
}

/*mobile only: start*/
.subforums-summary-labler-item-mob {
    display: none;
}

.subforums-summary-labler-item-title-mob {
    display: none;
}

.subforums-summary-labler-item-leading-mob {
    display: none;
}

.subforums-summary-labler-item-date-mob {
    display: none;
}
/*mobile only: end*/

@media (max-width:935px) {
    .subforums-summary-labler-page-container {
        padding: 1rem 1.4rem;
    }
}

@media (max-width:675px) {
    .subforums-summary-labler-page-container {
        padding: 0.5rem 1rem;
        flex-direction: column-reverse;
    }

    .subforums-summary-labler-right-up {
        height: 30vh;
        width: 90vw;
    }

    .subforums-summary-labler-left-down {
        height: auto;
        width: 90vw;
    }

    .subforums-summary-labler-item-mob {
        display: block;
        list-style-type: none;
        border: none;
        border-radius: 2rem;
        height: 15vh;
        gap: 1rem;
        padding: 1.5rem 1.75rem;
    }

    .subforums-summary-labler-item-title-mob {
        display: block;
    }

    .subforums-summary-labler-item-leading-mob {
        display: block;
    }

    .subforums-summary-labler-item-date-mob {
        display: block;
    }
    
    .subforums-summary-labler-pagination-controls-chunk {
        display: none;
    }

    .subforums-summary-labler-pagination-controls-chunk-btn {
        display: none;
    }

    .subforums-summary-labler-item, .subforums-summary-labler-item-leading,
    .subforums-summary-labler-item-title, .subforums-summary-labler-item-date {
        display: none;
    }
}